[submodule "bundle/git-runtime"]
	path = bundle/git-runtime
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/a"]
	path = bundle/a
	url = git://github.com/vim-scripts/a.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/indexed-search"]
	path = bundle/indexed-search
	url = git://github.com/vim-scripts/IndexedSearch.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/markdown-runtime"]
	path = bundle/markdown-runtime
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/localvimrc"]
	path = bundle/localvimrc
	url = git://github.com/vim-scripts/localvimrc
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-buffergator"]
	path = bundle/vim-buffergator
	url = git://github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://github.com/vim-scripts/delimitMate.vim.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = git://github.com/godlygeek/csapprox
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
